#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  padding: 20px;
}

.all-calls {
  display: flex;
  flex-direction: column;
  // align-items: center;
  .call {
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    .same-date {
      display: none;
    }

    .nodate-call {
      // box-shadow: 0 5px 10px $grayishBlue;
      // background-color: white;
      

      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 0;
      border: 1px solid rgba(207, 201, 201, 0.733);
      border-radius: 10px;
      img {
        width: 100%;
      }
      .icon {
        width: 25px;
      }
      .number {
        font-weight: 900;
      }

    }

    .date {
      margin-bottom: 30px;
      // background-color: red;
    }
  }
}
